@keyframes fadein {
    from { background-color: yellow; }
    to   { background-color: orange; }

}


*{
    font-family: arial;
}

body {
    text-align: center;
}

div {
    border-radius: 15px;
}


.topo {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */

    height: 3em;
    margin: auto;
    background-color: #193853;
    color: yellow;

}

.base {
    display: inline-block;
    background-color: rgb(255, 255, 255);

}

.quadrado {
    width: 5em;
    height: 5em;
    background-color: rgb(209, 62, 106);
    /* margin: 5px; */
    display: inline-block;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
}


.pontuacao{

    padding: 20px;
    display: inline-block;
    background-color: rgb(173, 228, 255);
    height: 9em;
    width: 15em;
    border-radius: 30px;
    margin-left: 30px;
    margin-top: 5px;

    align-items: center;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    }

.quadradoPonto {

    width: 5em;
    height: 5em;
    background-color: rgb(11, 141, 167);
    margin: 5px;
    display: inline-flex;
}

h4 { display: inline-flex;}

.jogadorDaVez{
    border-radius: 50%; 
    /* background-color: rgb(102, 255, 0); */
    animation: fadein 0.4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

h3{
    margin: 10px;
}


.meio {
    padding-top: 3vh;
    display: flex;
    justify-content: center;  /* centraliza horizontalente */
    /* align-items: center;  centraliza verticalmente */



}